<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bistu.web.webstore.dao.mapper.ext.ProductXMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.bistu.web.webstore.dao.entity.Product">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="price" property="price" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_user" property="createdUser" />
        <result column="updated_user" property="updatedUser" />
        <result column="valid" property="valid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, price, created_time, updated_time, created_user, updated_user, valid
    </sql>

    <select id="getByName" resultType="org.bistu.web.webstore.dao.entity.Product" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from tc_product
        where name like concat('%', #{name} , '%') and valid =1
    </select>

    <update id="updateByName" parameterType="org.bistu.web.webstore.dao.entity.Product">
        update tc_product set name=#{name}, description=#{description}, price=#{price} where name = #{name}
    </update>

    <delete id="deleteByName" parameterType="java.lang.String">
        delete from tc_product where name = #{name}
    </delete>

    <update id="logicDeleteByName" parameterType="java.lang.String">
        update  tc_product set valid = 0 where name = #{name}
    </update>

    <insert id="createOne" parameterType="org.bistu.web.webstore.dao.entity.Product">
        insert into tc_product(name, description, price) values(#{name}, #{description}, #{price})
    </insert>

</mapper>